<div class="betContainer">
	<div class="usrPic">
	</div>
	
	<div class="usrInfo">
		<p class="usrName"> user: {{user.name}}</p>
	</div>

	<div class="betInfo">

	<div class="prediction">
		<p> bet description:{{prediction}}</p>
	</div>

	<div class="referee">
	<p> Referee::{{referee}}</p>
	</div>

	<div class="prediction">
	<p> Judgement Day:{{judgmentDay}}</p>
	</div>

	<div class="bottom">
		<p class="betPrice"> bet price:{{price}} </p>
		<button class="interestedButton">Interested?</button>
	</div>
	</div>
</div>
