<div class="betBox">
	<h2>SOmething</h2>
	<div class="usrPic">
	<img class="usrPic" src="{{adminImageLink}}">
	</div>
	
	<div class="usrInfo">
		<p class="usrName"> User: {{admin}}</p>
	</div>

	<div class="betInfo">

	<div class="prediction">
		<p> Bet Description: {{prediction}}</p>
	</div>

	<div class="referee">
	<p> Referee: {{referee}}</p>
	</div>

	<div class="prediction">
	<p> Judgement Day: {{judgmentDay}}</p>
	</div>

	<div class="bottom">

	<p class="betPrice"> Bet Price: {{price}} </p>
	<button class="interestedButton">Interested?</button>

	</div>
	</div>
</div>
