<div class="betContainer">
	<div class="usrPic">
	</div>
	
	<div class="usrInfo">
		<p class="usrName"> user: {{user.name}}</p>
	</div>

	<div class="betInfo">

	<div class="prediction">
		<p> Bet Description:{{prediction}}</p>
	</div>

	<div class="referee">
	<p> Referee:{{referee}}</p>
	</div>

	<div class="prediction">
	<p> Judgement Day:{{judgmentDay}}</p>
	</div>

	<div class="bottom">
<<<<<<< HEAD
		<p class="betPrice"> bet price:{{price}} </p>
		<button class="interestedButton">Interested?</button>
=======

	<p class="betPrice"> Bet Price:{{price}} </p>
	<button class="interestedButton">Interested?</button>

>>>>>>> ec45ba2cc3f09676a757996014f5b9ca1326fd4b
	</div>
	</div>
</div>
