<div class="betContainer">
	<div class="usrPic">
	</div>
	
	<div class="usrInfo">
		<p class="usrName"> user: {{user.name}}</p>
	</div>

	<div class="betInfo">

	<div class="prediction">
		<p> bet description:{{prediction}}</p>
	</div>

	<div class="referee">
	<p> Referee::{{referee}}</p>
	</div>

	<div class="prediction">
	<p> Judgement Day:{{judgmentDay}}</p>
	</div>

	<div class="bottom">
<<<<<<< HEAD
	<p class="betPrice"> Bet Price:{{price}} </p>
	<button class="interestedButton">Interested?</button>
=======
		<p class="betPrice"> bet price:{{price}} </p>
		<button class="interestedButton">Interested?</button>
>>>>>>> bb58f57fd28c0f691d82ae10c34e0bf575e107b6
	</div>
	</div>
</div>
