<div class="friendContainer" id='{{this.id}}'>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="blankCheckbox" value="{{this.id}}" name="players" aria-label="...">
		</label>
	</div>
	<img class="usrPic" src="{{this.ImageLink}}">
	<p class="friendName">{{this.UserName}}</p>
	{{!-- <button class="inviteFriend" id='{{this.id}}'>Invite Friend</button> --}}
</div>

