<div class="betBox" id="userLooses">
	<div class="betOwnerPic">
		<img class="betOwnerPic" src="{{adminImageLink}}">
	</div>
	<div class="betInfo loser">
		<div class="usrInfo">
				<p class="usrName"><strong><span id="captainText2">CAPTAIN: </span></strong>{{adminPlayer}}</p>
		</div>

		<div class="prediction">
			<p id="betInput"><strong><span id="loserText">{{adminPlayer}}'s Prediction: </span></strong>{{prediction}}</p>
			<p><strong><span id="loserText">{{secondPlayer}}'s Challenge: </span></strong>{{challenge}}</p>
		</div>

		<div class="referee">
			<p><strong><span id="loserText">Referee: </span id="loserText"></strong>{{referee}}</p>
			<p><strong><span id="loserText">Participants: </span></strong>{{adminPlayer}}, {{secondPlayer}}</p>
		</div>

		<div class="dayPrice">
			<p class="betPrice"><strong><span id="loserText">Bet Price: </span></strong>{{price}} dollars</p>
			<p><strong><span id="loserText">Judgement Day: </span id="loserText"></strong>Aug 30 2016<!-- {{judgmentDay}} --></p>
		</div>
	</div>
</div>