<link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
<div class="container" id="navbarBox">
	<div class="row">
		<nav class="navbar navbar-default navbar-static-top" id="navBar">
  			<div class="container">
  			<a href="/home">
          <img class= "logo" src="assets/images/logo.png" alt="logo">
			 </a>
			 <ul class="nav nav-pills" id="navPills">
			  <li role="presentation" class="active"><a href="/home">Home</a></li>
			  <li role="presentation"><a href="/profile">Profile</a></li>
			  <li role="presentation"><a href="/search-users">Find Friends</a></li>
			  <li role="presentation"><a href="/logOut">Log Out</a></li>
			</ul> 
  			</div>
		</nav>
	</div>
</div>
	

	<div class='row'>
		<div class=" col-md-offset-2 col-md-7 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-6 cloudDiv" id='profileCloud'>
			<div class="row">
				<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-5 co-lg-7">
					<div class="profileInfo">
						<img class="usrPic" src="{{user.ImageLink}}">
							<div class="rightSide">
								<h3 class="firstName">{{user.FirstName}}</h3>
								<h3 class="lastName">{{user.LastName}}</h3><br>
								<p class="betsMade"><strong><span>Bets Made:</span></strong>148</p><br>
								<p class="betsMade"><strong>Bets Accepted:</strong> 37</p><br>
								<p class="betsMade"><strong>Winning: </strong>58%</p><br>
								<p class="betsMade"><strong>Lost: </strong>32%</p><br>
								<p class="betsMade"><strong>Approval Rating:</strong>100%</p>

							</div>
					</div>

					<div class="profileBets">
						{{#each bets}}
							{{> profile_bets this}}						
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
					

{{!-- <div class="row">
	<div class="betBox">
		<div class="usrPic">
		</div>
		<div class="usrInfo">
			<p class="usrName">{{bet.user.name}}</p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="betInfo">
			<div class="prediction">
				<p>{{bet.prediction}}</p>
			</div>
			<div class="bottom">
				<p class="betPrice"> {{bet.price}} </p>
				<button class="interestedButton"></button>
			</div>
		</div>
	</div>
</div> --}}


{{!-- <div class="row">
	<div class="col-md-8">
		
	</div>
	<div class="col-md-4">
	  <div id="trendingDiv">
	  	<h5>Trending Winners</h5>
			 <div class="container">
				  <img src="" class="img-rounded" id="trend1" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend2" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend3" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend4" alt="" width="40" height="40">
				  <img src="" class="img-rounded" id="trend5" alt="" width="40" height="40">
			</div>

	  </div>

	</div>
 --}}







